RewriteEngine On

# 設定ファイル(.cgi)への直接アクセスを禁止
RewriteRule \.cgi$ - [F]

# 全てのリクエストを admin/index.php に集约
# (adminディレクトリへの直接アクセスも含む)
RewriteCond %{REQUEST_URI} !^/admin/index.php
RewriteRule ^(.*)$ admin/index.php [L,QSA]
